* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

li {
    list-style-type: none;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;

}

h3 {
    margin-top: 20px;
    color: #212121;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08
}


.header {
    height: 72px;
    display: flex;
    justify-content: center;
    padding: 24px 156px;
    box-sizing: border-box;

}

.header-left {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-right: 332px;
}

.header-logo-link {
    color: #000;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    margin: 0;
    text-decoration: none;
    
}

.header-logo-link span {
    color: #2196F3;
}

.active {
color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.active a {
 text-decoration: none;
}

.nav {
    margin-left: 0;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav-ul li:not(:last-of-type) {
    margin-right: 40px;
}

.nav-ul-li {
    list-style-type: none;
    text-decoration: none;
    color: #212121;
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}

.nav-ul-li a {
    text-decoration: none;
    color: inherit;
}

.nav-ul-li a:hover,
.nav-ul-li a:focus {
    color: #2196F3;
}

.address-ul li:first-of-type {
    margin-right: 40px;
}

.address-ul {
    display: flex;
    font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        text-decoration: none;
}

.address a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-ul li a:hover,
.address-ul li a:focus {
    color: #404BBF;
}

.motto {
    background: #2F303A;
width: 1600px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-align: center;
}

.motto-text {
color: #FFF;

    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.motto-button {
width: 216px;
    height: 50px;
    flex-shrink: 0;
    padding: 16px, 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;   
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
}

.motto-button:hover,
.motto-button:focus {
    cursor: pointer;
    background: #404BBF;
}

.advantages-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 120px 156px;
    box-sizing: border-box;
}

.advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    width: 264px;
    margin-bottom: 8px;
}

.advantages-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.32px;
    width: 264px;
}

.duty {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 156px;
    box-sizing: border-box;
}

.team-photos {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-photos-article img {
    margin-bottom: 32px;
}

.team-photos-article h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-photos-article p {
    text-align: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.team-photos-article ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}


.background:hover,
.background:focus {
    fill: #404BBF;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;

}

.menu-button {
    margin-top: 50px;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    padding: 16px, 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F5F4FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.all-button {
    margin-top: 50px;
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    padding: 16px, 32px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.menu-button:hover,
.menu-button:focus {
    cursor: pointer;
    border-radius: 4px;
    color:#FFF;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


.portfolio {
    box-sizing: border-box;
}

.portfolio ul {
justify-content: center;
gap: 24px;
display: flex;
flex-wrap: wrap;
gap: 30px;
color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    margin-bottom: 94px;
}

.footer-bottom {
    background: #2F303A;
    padding: 100px 156px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
        height: 252px;
        flex-shrink: 0;
}

.footer-bottom-wrapper {
    min-width: 1128px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-bottom-wrapper a {
    text-decoration: none;
    color: #f4f4fd;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    margin-bottom: 60px;
    margin-right: 215px;
}

.footer-bottom-address {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px
}

.footer-bottom-address a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
margin-top: 60px;
    letter-spacing: 0.42px;
}

.footer-bottom-wrapper p {
    margin-top: 16px;
}

.footer-bottom-wrapper span {
    color: #2196F3;
}

.footer-ul-li {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-ul {
    gap: 24px;
    align-items: start;
}

.footer-ul svg:hover,
.footer-ul svg:focus {
    fill: #31D0AA;
}
