
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2e2f42;
}

li {
    list-style-type: none;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.nav-ul-li:hover,
.nav-ul-li.active {
    background: blue;
    color: #fff;
}

.header {
    height: 72px;
    display: flex;
    justify-content: center;
    padding: 24px 156px;
    box-sizing: border-box;

}

.header-left {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-right: 332px;
}

.header-logo-link {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 260px;
}

.header-logo-link span {
    color: #4d5ae5;
}

.nav {
    margin-left: 0;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    width: 400px;
        height: 16px;
        flex-shrink: 0;
        margin-right: 50px;
}

.nav-ul li:not(:last-of-type) {
    margin-right: 40px;
}
.nav-ul-li {
    list-style-type: none;
}
.nav-ul-li-active {
    color: #2196F3;;
}

.nav-ul-li a {
    text-decoration: none;
    color: inherit;
}

.nav-ul-li a:hover,
.nav-ul-li a:focus {
    text-decoration: underline;
    text-decoration-color: #404BBF;
    color: #404BBF;
}

.address-ul li:first-of-type {
    margin-right: 40px;
}

.address-ul {
    display: flex;
    
}

.address a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-ul li a:hover,
.address-ul li a:focus {
    color: #404BBF;
}
.motto {
    background-color: #2e2f42;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-align: center;
}

.motto-text {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
}

.motto-button {
    width: 169px;
    height: 56px;
    padding: 16px, 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.motto-button:hover,
.motto-button:focus {
    cursor: pointer;
    background: #404BBF;
}

.advantages-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 120px 156px;
    box-sizing: border-box;
}

.advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    width: 264px;
    margin-bottom: 8px;
}

.advantages-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.32px;
    width: 264px;
}
.duty {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team {
    background-color: #f4f4fd;
    padding: 120px 156px;
    box-sizing: border-box;
}

.team-photos {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-photos-article img {
    margin-bottom: 32px;
}

.team-photos-article h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-photos-article p {
    text-align: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.team-photos-article ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}


.background:hover,
.background:focus {
    fill: #404BBF;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
  
}
.menu-button {
    margin-top: 50px;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    padding: 16px, 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F5F4FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.all-button {
width: 73px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    padding: 16px, 32px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.menu-button:hover,
.menu-button:focus {
    cursor: pointer;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


.portfolio {
justify-content: center;
 gap: 30px;
 flex-wrap: wrap;
}

.portfolio ul {
        justify-content: center;
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        
}
.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    

}

.footer-bottom {
    background: #2e2f42;
    padding: 100px 156px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bottom-wrapper {
    min-width: 1128px;
    justify-content: space-between;
}


.footer-bottom-wrapper a {
    text-decoration: none;
    color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-bottom-wrapper p {
    margin-top: 16px;
}

.footer-bottom-wrapper span {
    color: #4d5ae5;
}

.footer-bottom-text {
    color: #f4f4fd;
    font-size: 16px;
    letter-spacing: 0.32px;
}



.footer-ul svg:hover,
.footer-ul svg:focus {
    fill: #acffec;
}
